version: '3.8'

services:
  telegram-bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: booking-bot
    restart: "no"  # Измените на "no" для диагностики
    env_file:
      - .env
    environment:
      - TZ=Europe/Moscow
    volumes:
      - ./configs:/app/configs
      - .env:/app/.env
      - ./logs:/app/logs
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"